@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-neutral-50: theme("colors.gray.50");
    --color-neutral-100: theme("colors.gray.100");
    --color-neutral-200: theme("colors.gray.200");
    --color-neutral-300: theme("colors.gray.300");
    --color-neutral-400: theme("colors.gray.400");
    --color-neutral-500: theme("colors.gray.500");
    --color-neutral-600: theme("colors.gray.600");
    --color-neutral-700: theme("colors.gray.700");
    --color-neutral-800: theme("colors.gray.800");
    --color-neutral-900: theme("colors.gray.900");
  }
}

.theme-blue {
  --color-bg: #bbc8fa;
  --color-shapes: #0071ff;
  --color-primary: #005bce;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg-dark: #20325b;
}

.theme {
  --primaryBg: var(--color-bg);
  --primaryBgDark: var(--color-bg-dark);
  --primaryBgWhite: var(--color-white);
  --primary: var(--color-primary);
  --primaryBgShapes: var(--color-shapes);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
  width: max-content;
}

.drop-item:hover {
  background-color: var(--color-primary);
  color: white;
}
